@font-face {
  font-family: "pixelFont1";
  src: url("../assets/font/enter-the-gungeon-big.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "pixelFont2";
  src: url("../assets/font/Retro_Gaming.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-feature-settings:
    "tnum" on,
    "lnum" on,
    "zero" on;
}

@font-face {
  font-family: "pixelFont3";
  src: url("../assets/font/upheavtt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "pixelFont4";
  src: url("../assets/font/joystix.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
