@use "sass:map";
@use "variables" as vars;

@font-face {
  font-family: "pixelFont1";
  src: url("../assets/font/enter-the-gungeon-big.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "pixelFont2";
  src: url("../assets/font/Retro_Gaming.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "pixelFont3";
  src: url("../assets/font/upheavtt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  position: relative;
  min-width: 0;
}

body,
html {
  min-height: 100dvh;
  overflow: hidden;
  font-family: "pixelFont1", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: justify;
}

.main {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.main-content {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  z-index: 1;
}

.homeButton {
  position: fixed;
  top: 20px;
  left: 20px;
  cursor: pointer;
  width: 5vw;
  height: 5vw;
  z-index: 10;
}

.homeButton img {
  height: 70%;
  width: 70%;
  object-fit: contain;
}
