@use "sass:map";
@use "variables" as vars;

@font-face {
  font-family: "pixelFont1";
  src: url("../assets/font/enter-the-gungeon-big.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "pixelFont2";
  src: url("../assets/font/Retro_Gaming.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "pixelFont3";
  src: url("../assets/font/upheavtt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body,
html {
  margin: 0;
  padding: 0;
  height: vars.$content-height;
  overflow: hidden;
  font-family: "pixelFont1", sans-serif;
  image-rendering: pixelated;
  box-sizing: border-box;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.main-content {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.homeButton {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20px;
  left: 20px;
  cursor: pointer;
  width: 5vw;
  height: 5vw;
  z-index: 9999; /* Asegurando que el botón esté siempre por encima */
}

.homeButton:hover {
  background-color: #e0e0e0;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.homeButton img {
  height: 70%;
  width: 70%;
  object-fit: contain;
}

.RGBTool {
  position: fixed;
  width: 300px;
  height: 500px;
  top: 0;
  right: 0;
  border: 1px solid black;
  background-color: #0f0;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
