.myJourneyMain {
  display: grid;
  place-items: center;
  width: 90%;
  height: 100%;
  padding: 2em 0;
  margin-left: auto;
  margin-right: auto;

  .sectionTitle {
    font-size: 3rem;
    margin: 1.5rem 0;
    letter-spacing: 2px;
    position: relative;

    color: #f7bd38;
    filter: drop-shadow(1px 1px 8px #fff);
    margin-bottom: 1rem;
    text-shadow:
      4px 4px 0 #f4423c,
      4px 0px 0 #f4423c,
      -1px -1px 0 #f4423c,
      1px -1px 0 #f4423c,
      -1px 1px 0 #f4423c;

    &::before {
      left: -100px;
    }

    &::after {
      right: -100px;
    }
  }
}

.timeLineContainer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 48% 4% 48%;
  grid-template-rows: repeat(6, 15%);
  grid-template-areas:
    "item1 center ."
    ". center item2"
    "item3 center ."
    ". center item4"
    "item5 center ."
    ". center item6";
  position: relative;
  padding: 1rem 1rem;
}

.card {
  position: relative;
  border: 4px solid #000;
  height: 100%;
  transition: all 0.2s ease;
  background-color: #000;
  margin: 0 1rem;

  &.active {
    z-index: 100;
    transform: translate(-4px, -4px);
  }
}

.cardHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color: #a0a0a0;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
  transition: all 0.2s ease;

  &:hover {
    animation: glitch 0.2s linear;
  }

  .jobTitle {
    font-size: 1rem;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 0.5rem;
    line-height: 1.3;
  }

  .company {
    font-size: 0.8rem;
    color: #000;
    margin-top: 0.3rem;
    text-align: center;
    padding: 0.3rem 0.6rem;
    line-height: 1.3;
  }

  .arrowIcon {
    position: absolute;
    right: 16px;
    bottom: 16px;
    font-size: 1rem;
    color: #000;
  }
}

@keyframes glitch {
  0%,
  100% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(-2px, -2px);
  }
}

.cardContent {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  transform: scaleY(0);
  transform-origin: top;
  background-color: #a0a0a0;
  overflow: hidden;
  z-index: 1;
  border: 4px solid #000;
  border-top: none;
  box-sizing: border-box;

  .contentBox {
    padding: 1rem;
    border: 2px solid #000;
    margin: 4px;
  }

  &.expandedContent {
    animation: expandInSteps 0.3s steps(5) forwards;
  }

  &.collapsedContent {
    animation: collapseInSteps 0.3s steps(5) forwards;
  }
}

@keyframes expandInSteps {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes collapseInSteps {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}

.period {
  margin: 0.5rem 0;
  color: #000;
  font-size: 0.8rem;
  line-height: 1.4;
}

.description {
  margin: 0.8rem 0;
  line-height: 1.4;
  font-size: 0.8rem;
  color: #000;
}

.detailsList {
  margin: 0.8rem 0 0 0;
  padding-left: 1.5rem;
  list-style: none;
}

.detailItem {
  margin-bottom: 0.6rem;
  font-size: 0.7rem;
  line-height: 1.4;
  position: relative;
  padding-left: 2rem;
  color: #000;

  .pixelIcon {
    position: absolute;
    left: 0;
    font-size: 0.8rem;
    top: 0.3rem;
  }
}

.center {
  grid-area: center;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;

  .pixelLine {
    width: 8px;
    height: 100%;
    background-color: #ff5500;
    position: relative;
    box-shadow:
      0 0 0 4px #000,
      0 0 0 6px #ff5500;
  }

  .pixelDot {
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #000;
    border: 4px solid #ff5500;
    transform: translateX(0%), translateY(50%);
    transition: all 0.3s ease;

    &.activeDot {
      transform: scale(1.3);
      background-color: #ff5500;
      border-color: #000;
      box-shadow: 0 0 0 2px #000;
    }
  }

  .dot1 {
    top: 7%;
  }
  .dot2 {
    top: 23%;
  }
  .dot3 {
    top: 40%;
  }
  .dot4 {
    top: 56%;
  }
  .dot5 {
    top: 73%;
  }
  .dot6 {
    top: 89%;
  }
}

// Posicionamiento de los items
.item1 {
  grid-area: item1;
}
.item2 {
  grid-area: item2;
}
.item3 {
  grid-area: item3;
}
.item4 {
  grid-area: item4;
}
.item5 {
  grid-area: item5;
}
.item6 {
  grid-area: item6;
}
